    body {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        margin: 0;
        background-color: #1C1C1E;
        color: white;
    }

    .card {
        border-radius: 10px;
        padding: 20px;
        width: 350px;
        margin: 50px auto; 
    }

    .form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .group {
        position: relative;
        margin-bottom: 20px;
    }

    .form .group label {
        font-size: 14px;
        color: rgb(150, 150, 150);
        position: absolute;
        top: -10px;
        left: 10px;
        transition: all 0.3s ease;
        background-color: transparent;
    }

    .form .group input,
    .form .group textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: transparent;
        color: white;
        width: 100%;
        outline: none;
    }

    .form .group input:focus,
    .form .group textarea:focus {
        border-color: #D4AF37;
    }

    .form .group input:focus + label,
    .form .group textarea:focus + label {
        top: -20px;
        color: #D4AF37;
        font-size: 12px;
        font-weight: 600;
    }

    .form .group input:placeholder-shown + label,
    .form .group textarea:placeholder-shown + label {
        top: 10px;
        color: rgb(150, 150, 150);
    }

    .form .group textarea {
        resize: none;
        height: 100px;
    }

    .form button {
        background-color: #D4AF37;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .form button:hover {
        background-color: #b0892a;
    }
    .form .group input:focus+ label, .form .group textarea:focus +label {
        top: -10px;
        left: 10px;
        color: #D4AF37;
        font-weight: 600;
        font-size: 14px;
        }